entrypoint = "main.py"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 3000


